body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #eef5f1;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background: linear-gradient(180deg, #198754, #0d6efd);
    padding-top: 20px;
    transition: 0.3s;
    z-index: 1000;
}

.sidebar a {
    display: block;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    font-weight: 500;
}

.sidebar a:hover {
    background: rgba(255,255,255,0.2);
}

/* Main Content */
.main-content {
    margin-left: 250px;
    padding: 20px 30px;
    min-height: 100vh;
}

/* Topbar */
.topbar {
    background: linear-gradient(90deg, #0d6efd, #198754);
    padding: 12px 20px;
    color: white;
    border-radius: 0 0 15px 15px;
    margin-bottom: 30px;
}

/* Dashboard Cards */
.dashboard-card {
    border: none;
    border-radius: 20px;
    padding: 25px;
    text-align: center;
    background: white;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.dashboard-card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}


/* Card */
.card {
    border: none;
    border-radius: 20px;
}

/* Mobile */
@media(max-width:768px){
    .sidebar {
        left: -250px;
    }

    .sidebar.active {
        left: 0;
    }

    .main-content {
        margin-left: 0;
    }
}
